<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ktucookingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppActivity"
        android:allowBackup="true"
        android:icon="@drawable/said"
        android:label="Digital tastes better"
        android:logo="@drawable/fleisch1"
        android:roundIcon="@mipmap/said"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Compass"></activity>
        <activity
            android:name=".LabWork3"
            android:parentActivityName=".LabOverview"></activity>
        <activity android:name=".playYoutube" />
        <activity android:name=".Intro" />
        <activity android:name=".CookingMenu" />
        <activity android:name=".AddRecipe" />
        <activity
            android:name=".LabWork2"
            android:parentActivityName=".LabOverview" />
        <activity
            android:name=".LabOverview"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".certainRecipe" />
        <activity
            android:name=".CookingApp"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LabWork1"
            android:parentActivityName=".LabOverview" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListEdit"
            android:parentActivityName=".CookingApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CookingApp" />
        </activity>
    </application>

</manifest>